.aboutDiv{
    text-align: center;
    margin-top:10px;
}
.aboutHead{
    font-size:23px;
    color: #6474E5;
    font-weight: bold;
}
.aboutText{
    font-size:20px;
    color: #6474E5;
    line-height:26px;
    text-align: left;
}